.card-header{
  text-align: center;
}

.card-block{
  padding: 20px;
}

.row {
  padding: 20px;
}


table{
  margin-top:22px;
  border-collapse: collapse;
  border: 1px solid black ;
}
tr{
  border: 1px solid black ;
}
td {
  border: 1px solid black ;
  width: 20px;
  height: 20px;
}

p, label  {
  font-family: Cursive  ;
  font-size: 20px ;
  font-weight: 200;
}

h2 {
  font-family: Georgia
}



